a.navbar-brand {
  margin-left: 59px;
  margin-top: 23px;
  margin-bottom: 23px;
  padding: 0;

  font-family: 'Sevillana';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  color: #000000;
}

nav.navbar {
  height: 108px;
  left: 0px;
  top: 0px;

  background: #c4c4c4;
}

div.collapse {
  margin-right: 81px;
  margin-top: 41px;
  margin-bottom: 37px;
}

a.nav-link.active {
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 30px;
  text-decoration-line: underline;

  color: #000000;
}
a.nav-link {
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;

  color: #000000;
}
